server_1/server/node_modules/
server_1/mongo/
server_25/server/node_modules/
server_25/mongo
server_27/server/node_modules/
server_27/mongo
server_29/server/node_modules/
server_29/mongo
server_31/server/node_modules/
server_31/mongo
server_auth/server/node_modules
server_auth/mongo
mycript
client
client_home
client_server_1
client_server_25
client_server_27
letsencrypt
